{font-family: Arial, Helvetica, sans-serif}
#inform_panel {
font-size:200%;
float:left;
border-style:solid;
padding:5px
}
#nav_menu {
padding: 0; 
width: 762px; 
margin: 0 auto
}
#nav_menu ul {
list-style: none; 
margin: 0; 
padding: 0
}
#nav_menu li {
display: inline
}
#nav_menu a {
float: left;
width: 125px;
height: 30px;
background-color: #cc0033;
border-left: 2px solid #ffffff;
text-decoration: none;
text-align: center;
padding: 0;
padding-top: 10px;
font-size: 18px;
color: #ffffff
}
#nav_menu a:hover {
background-color: #990033; 
color: Tomato
}
#logo {
float:left;
}
#form_input {
position:fixed;
top:10px;
right:50px;
width: 190px;
height: 185px;
}
#catalog_menu {
position:fixed;
top:200px;
left:20px;
float: left; 
border-top:1px solid #333;
border-right: 1px solid #333; 
width: 20%; 
    height:100%;
    padding: 5px; 
    margin: 10px 10px 20px 5px; 
}
#content {

}

